@import "tailwindcss";

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DungGeunMo', ui-sans-serif, system-ui, sans-serif;
    background-color: #1a1a1a;
    color: white;
    overflow: hidden;
    user-select: none;
}

@theme {
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

.pixelated {
    image-rendering: pixelated;
}
